html, body {
  background: #444;
  color: #f1f1f1;
  height: 100dvh;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: monospace;
  position: relative;
  overflow: hidden;
}

* {
  box-sizing: border-box
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1rem 2rem 0;
  background: #044;
}

h1 {
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0 0 0.25rem;
}

.labeled {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.labeled > div:first-child {
  color: #ccc;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.labeled > div:last-child {
  font-weight: 700;
  font-size: 1.5rem;
}

#vehicleMonitor {
  background: #0f0f0f;
  padding: 3rem 2rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

#vehicleMonitor .labeled > div:first-child {
  color: #afdd;
}

.batteryTime {
  display: flex;
  gap: 0.5rem;
}

.keyboardWrapper {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 0;
}

.keyboard {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.keyboard div[id] {
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #777;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: scale 100ms ease-out;
}

.keyboard #space {
  width: 240px;
  margin-top: 1rem;
}

.keyboard div[id][data-pressed] {
  background: #afd8;
  scale: 0.95;
}

#debugOut {
  color: #d4d4d4;
  background: #888;
  padding: 2rem;
  height: 15rem;
  overflow-y: auto;
  font-family: monospace;
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 300ms ease-out;
}

#debugOutToggle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: none;
  border: 1px solid #777;
  padding: 0.25rem 0.5rem;
  color: #777;
}

#debugOutToggle.hidden {
  bottom: -15rem;
  opacity: 0;
}