html, body {
  background: #444;
  color: #f1f1f1;
  height: 100dvh;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: monospace;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1rem 2rem;
}

h1 {
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

.labeled {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.labeled > div:first-child {
  color: #ccc;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.labeled > div:last-child {
  font-weight: 700;
  font-size: 1.5rem;
}

#vehicleMonitor {
  background: #0f0f0f;
  padding: 3rem 2rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

#vehicleMonitor .labeled > div:first-child {
  color: #afd;
}

.batteryTime {
  display: flex;
  gap: 0.5rem;
}

#form {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#debugOut {
  color: #d4d4d4;
  background: #888;
  padding: 2rem;
  height: 15rem;
  overflow-y: auto;
  font-family: monospace;
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
